.footer {
    background: black;
    position: absolute;
    bottom: 100;
    width: 100%;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-style: italic;
    font-size: 20px;
    color: white;
}
